@tailwind base;
@tailwind components;
@tailwind utilities;
@import './custom.css';

@layer base {
  *,.font-sans{
    font-family: Chivo,Arial,Tahoma,Verdana,sans-serif;
  }
  input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    height: 20px;
    border-radius: 0px;
    border: 1px solid #000;
    overflow: hidden;
  }

  input::-webkit-slider-thumb {
    position: relative;
    left: initial;
    bottom: 5px;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    box-shadow: -340px 0 0 320px #000, inset 0 0 0 40px #fff,
      340px 0 0 320px #fff, inset 0 0 0 40px #fff;
    margin-top: 5px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
